<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro personas</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container">
      <form class="form">
            <h2>Ingresa tus datos</h2>
            <p>
             "En DiazCard Trabajamos para ti"
            </p>
            
        
        <input type="text" id="nombre" placeholder="Nombre completo" class="box">

        <input type="email"id="correo" placeholder="Correo electronico" class="box">

        <input type="email"id="celular" placeholder="Celular" class="box">
        
        
         <input type="submit" value="Enviar" class="submit">
       
    </form>
    

        <div class="info">

            <img src="images/Persona.svg" class="img-1" alt="">
              <div class="location">
                 <div class="icons">
                    <img src="images/gps.svg" alt="">
                    <p>Calle 5 # 2 - Tunja</p>
                 </div>
          
                  <div class="icons">
                    <img src="images/number.svg" alt="">
                    <p>3110221111</p>
                 </div>
          
                <div class="icons">
                    <img src="images/email.svg" alt="">
                    <p>Diazcard@gmail.com</p>
                 </div>
          </div>
     


          <div class="social">
             
               <img src="images/fa.svg" alt="">
               <img src="images/whatsaap.svg" alt="">
               <img src="images/ins.svg" alt=""> 
          </div>
       </div>
   </div>
</body>
</html>